---
title: Saint Osmique
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Premium fragrance concierge and personal shopper services in New York City">
    <meta name="keywords" content="Saint Osmique, David Dinsfriend, fragrance, NYC">
    <link rel="icon" type="image/png" href="./assets/favicon.png">
    <link rel="stylesheet" href="./assets/bundle.css">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Libre Franklin:100,200,300">
    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1'); #}
    </script>
  </head>
  <body class="index">
    <nav>
      <a href="/">
        <h1>Saint~Osmique</h1>
      </a>
      {# TODO: update href after domain host acquisition #}
      <div class="nav-links">
        <a href="/saint-osmique/about/" class="nav-link">About</a>
        <a href="/saint-osmique/contact/" class="nav-link">Contact</a>
      </div>
    </nav>
    <figure class="lede">
      <img src="/saint-osmique/assets/brueghel.jpeg" alt="Premium fragrance concierge and personal shopper services in New York City"/>
      <figcaption>{{ ledeText | safe }}</figcaption>
    </figure>
    <section class="content">
      {{ content | safe }}
    </section>
    <button>
      <a href="/saint-osmique/contact/">Book Now</a>
    </button>
    <div class="lede-caption">
      <p>
        Top image: Abraham Brueghel, <italic>Fruit and flowers</italic>, oil on canvas, ca. 1675
      </p>
    </div>
      {# {% renderFile "./src/includes/contact.md" %} #}
    <div class="gallery">
      <img src="./assets/slide-1.jpeg"></img>
      <img src="./assets/slide-2.jpeg"></img>
      <img src="./assets/slide-1.jpeg"></img>
      <img src="./assets/slide-2.jpeg"></img>
      <img src="./assets/slide-1.jpeg"></img>
      <img src="./assets/slide-2.jpeg"></img>
      <img src="./assets/slide-1.jpeg"></img>
      <img src="./assets/slide-2.jpeg"></img>
      <img src="./assets/slide-1.jpeg"></img>
      <img src="./assets/slide-2.jpeg"></img>
      <img src="./assets/slide-1.jpeg"></img>
    </div>
  </body>
</html>