---
title: Contact Us
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Premium fragrance concierge and personal shopper services in New York City">
    <meta name="keywords" content="Saint Osmique, David Dinsfriend, fragrance, NYC">
    <link rel="icon" type="image/png" href="./assets/favicon.png">
    <link rel="stylesheet" href="../assets/bundle.css">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Philosopher|Libre Franklin:100,200,300">
    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1'); #}
    </script>
  </head>
  <body class="contact">
    <nav>
      <a href="/">
        <img src="../assets/logo_full.png" alt="Saint Osmique" class="logo"/>
      </a>
      {# TODO: update href after domain host acquisition #}
      <div class="nav-links">
        {%- if title === 'About' -%}
          <a href="/saint-osmique/contact/" class="nav-link">Contact</a>
        {%- elif title === 'Contact' -%}
          <a href="/saint-osmique/about/" class="nav-link">About</a>
        {%- endif -%}
      </div>
    </nav>
    {%- if ledeImageFilename -%}
    <figure class="lede">
      <img src="../assets/{{ ledeImageFilename}}" alt="broze statuette announcing sign up form"/>
    </figure>
    {%- endif -%}
    <section class="content">
      {{ content | safe }}

      {%- if ledeImageCaption -%}
      <div class="lede-caption">
        <p>
          Image: {{ ledeImageCaption }}
        </p>
      </div>
      {%- endif -%}
    </section>
  </body>
</html>