body {
  /* font-family: Philosopher; */
  /* font-family: Libre Franklin;
  letter-spacing: 1px; */
  margin: 0;
  padding: 0 20px 0;
}

body, button, input.button {
  font-family: Libre Franklin, arial, sans-serif;
  letter-spacing: 1px;
}

nav {
  padding: 20px 0 0;
}

nav .logo {
  width: 150px;
}

nav .contact-link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 30px;
}

p {
  font-family: 'Libre Franklin';
  font-size: 1.0em;
  letter-spacing: .2px;
  font-weight: 200;
  line-height: 1.45em;
}

figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  width: 100%;
}

.lede-caption {
  margin: 80px auto;
  font-size: 10.5px;
}

figure img, figure figcaption {
  max-width: 910px;
}

h2 {
  font-family: Philosopher;
  font-size: 25px; 
  letter-spacing: -1px;
}

.lede {
  margin-top: 60px;
}

.content {
  margin: 90px auto 220px;
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 170px;
  margin-left: calc(-20px);
  margin-top: 60px;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
}

.gallery img {
  flex-basis: 10%;
  flex-grow: 1;
  object-fit: cover;
  min-width: 90px;
}

a {
  color: black;
}

button, input.button {
  background: none;
  border-radius: 0;
  border-color: black;
  border-width: 2px;
  color: black;
  display: block;
  margin: auto;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover, input.button:hover {
  background-color: black !important;
  /* color: white; */
}

button:hover a {
  color: white;
}

button a {
  letter-spacing: 2px;;
  /* font-weight: 100; */
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* .gallery div:nth-child(n) { */
  /* flex-basis: 10%; */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/assets/slide-1.jpeg"); */
  /* height: auto;
  width: 50px; */
/* } */

/* .gallery div:nth-child(n+1) { */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/assets/slide-2.jpeg"); */
  /* height: auto;
  width: 50px; */
/* } */

/* apply desktop-width styles below */

/* @media screen and (min-width: 728px) {
  nav img {
    width: 220px;
  }
} */

@media screen and (min-width: 1024px) {
  nav {
    text-align: center;
  }

  nav .logo {
    margin: auto;
    width: 225px;
  }

  nav .contact-link {
    left: 20px;
    right: auto;
  }

  .content {
    margin-bottom: 60px;
    max-width: 728px;
    font-size: 20px;
  }

  .lede-caption {
    font-size: 12px;
    text-align: center;
  }

  .gallery {
    margin: auto auto 20px;
    height: 200px;
    width: calc(100vw - 40px);
  }
}
  
/* contact page styles below */
.contact .lede {
  margin: 40px auto auto;
  max-width: 280px;
  width: 100%;
}

.contact .content {
  font-size: 14px;
}

/* Overwrite Mailchimp sign-up form styles */
form label {
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

form input, form textarea {
  background-color: #fafafa;
  box-sizing: border-box;
  border-radius: 0;
  border-width: 1px;
  display: block;
  font-size: 16px;
  height: 45px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

form textarea {
  height: 120px;
}

.form-names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-names .mc-field-group {
  flex-basis: 48%;
  /* flex-grow: 1; */
  margin: 0;
}

.mc-field-group {
  margin: 20px auto;
}

#mc-embedded-subscribe {
  background: none;
  height: 70px;
  letter-spacing: 3px;
  padding: 20px;
  width: auto;
}

#mc_embed_signup form {
  margin: 20px auto auto;
}