body {
  font-family: Philosopher;
  margin: 0;
  padding: 20px 20px 0;
}

nav {
  padding: 10px 0;
}

nav .logo {
  width: 120px;
}

p {
  font-family: 'Libre Franklin';
  font-size: 1.0em;
  letter-spacing: .2px;
  font-weight: 200;
  line-height: 1.45em;
}

figure {
  margin: 0;
  /* margin: auto; */
}

figure img {
  display: block;
  margin: auto;
  width: 100%;
}

.lede-caption {
  margin: 80px auto;
  /* padding: 10px; */
}

.lede-caption p {
  font-size: 10.5px;
}

figure img, figure figcaption {
  max-width: 890px;
}

h2 {
 font-size: 20px; 
 letter-spacing: -1px;
}

.lede {
  margin-top: 90px;
}

.content {
  margin-top: 90px;
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 170px;
  margin-left: calc(-20px);
  margin-top: 60px;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
}

.gallery img {
  flex-basis: 10%;
  flex-grow: 1;
  object-fit: cover;
  min-width: 90px;
}

a {
  color: black;
}

/* .gallery div:nth-child(n) { */
  /* flex-basis: 10%; */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/assets/slide-1.jpeg"); */
  /* height: auto;
  width: 50px; */
/* } */

/* .gallery div:nth-child(n+1) { */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/assets/slide-2.jpeg"); */
  /* height: auto;
  width: 50px; */
/* } */

@media screen and (min-width: 728px) {
  nav img {
    width: 220px;
  }
}
